<table class="content_container_2_vertical" style=" width: 70%; margin-left: auto; margin-right: auto;">
    <tr>
        <td style="border: 1px solid; padding: 5%;">
            <p>
                <b>Service Catalog 1</b>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Form 1
                    </a>
                </li>
            </ul>
            <p>
                <b>Service Catalog 2</b>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Form 1
                    </a>
                </li>
                <li>
                    <a href="#">
                        Form 2
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid; padding: 5%;">
            <p>
                <b>Service Catalog 1</b>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Form 1
                    </a>
                </li>
            </ul>
            <p>
                <b>Service Catalog 2</b>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Form 1
                    </a>
                </li>
                <li>
                    <a href="#">
                        Form 2
                    </a>
                </li>
            </ul>
        </td>
    </tr>
</table>