<table class="content_container_2" style="margin-left: auto; margin-right: auto; width: 70%;">
    <tr>
        <td style="border: 1px solid; padding: 5%; background-color: aliceblue;">
            <p>
                <b>Service Catalog 1</b>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Form 1
                    </a>
                </li>
            </ul>
            <p>
                <b>Service Catalog 2</b>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Form 1
                    </a>
                </li>
                <li>
                    <a href="#">
                        Form 2
                    </a>
                </li>
            </ul>
        </td>
        <td style="border: 1px solid; padding: 5%; background-color:bisque;">
            <p>
                <b>Service Catalog 3</b>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Form 1 
                    </a>
                </li>
            </ul>
            <p>
                <b>Service Catalog 4</b>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Form 1
                    </a>
                </li>
                <li style="color: transparent;">
                    <a href="#" style="color: transparent; cursor: default; pointer-events: none;">
                        Form 1
                    </a>
                </li>
            </ul>
        </td>
    </tr>
</table>