<table class="content_container_1" style="border:1px solid; margin-left: auto; margin-right: auto; width: 70%;">
    <tr>
        <td style="text-align:center;">
            <img src="../../Media/example_content_image_1.png" style="width: auto;height: 200px;border: 1px solid #991b1e;" alt="Content Image">
        </td>
    </tr>
    <tr>
        <td style="text-align: left; padding:1em;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </td>
    </tr>
</table>