<table class="footer_section_4" style="width: 35%; margin-left: auto; margin-right: auto; border: 1px solid black;">
    <tr style="text-align: center;">
        <td>
            <img src="../../Media/KMOUSC_logo_3.png" style="width: 200px; height: 200px; margin-top: -5%; margin-bottom: -7%;">
        </td>
    </tr>
    <tr>
        <td style="padding-left: 10%; padding-right: 10%; padding-bottom: 8%; ">
            <h4 style="text-align: center;">
                <b>Questions? 
                <br> Email the SNOW team! 
                <br> <a href="mailto:KeckServiceNow@med.usc.edu">KeckServiceNow@med.usc.edu</a></b>
            </h4>

            <p>
                The Keck ServiceNow email is intended for news, updates, and feedback only. Service requests logged to this email address are not monitored.
                Please continue to use <a href="mailto:ServiceDesk@med.usc.edu">ServiceDesk@med.usc.edu</a> if opening a ticket via email.
            </p>
        </td>
    </tr>
</table>